.calcInputForm {
}

.calcInputText {
}

.noFieldBorder {
  border: 0;
  display: flex;
}

.searchBarBtn {
  z-index: 99;
  position: relative;
  right: 77px;
  border-radius: 20px !important;
  box-shadow: none !important;
  border: none !important;
}
