@import '../../../styles/_variables.scss';

/*
  AnchorTagStyles
*/

:global(.btn-anchorTag) {
  border: 2px solid $primaryColor;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  padding: 0.6rem;
  margin: 0.25rem;
  text-decoration: none;
  color: $fontColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: $fastTransition;
}

:global(.btn-anchorTag:hover) {
  border: 2px solid $secondaryColor;
}

:global(.link-anchorTag) {
  text-decoration: none;
  color: $fontColor;
  opacity: 1;
  transition: $fastTransition;
}

:global(.link-anchorTag:hover) {
  opacity: 0.6;
}
